.header-contact {
  padding: 20px 0;

  & .share {
    @include media($b-sm) {
      display: none;
    }
  }
  @include media($b-sm) {
    flex-direction: column;
  }
}

.contacts {
  @include col();
  @include make-col(auto);

  display: flex;
  &__mail {
    padding-right: 20px;
  }

}

.share {
  @include col();
  @include make-col(auto);

  &__icon {
    padding-right: 10px;
  }
}

.mail, .phone {
  display: flex;
  align-items: center;
}
